<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZv0pJc9nwn7sZ_HUSiKUK-cRBiYYDmYU</string>
	<key>GCM_SENDER_ID</key>
	<string>209458394153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAutonomos</string>
	<key>PROJECT_ID</key>
	<string>fiapmbachatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fiapmbachatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209458394153:ios:ee664597d58f5a905d5838</string>
</dict>
</plist>